<div class="row">
  <div class="col-md-6 contact-form">
    <div class="contain">
      <h1>Hello there <img src="../../assets/images/wave.png" alt="Say Hello"></h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus architecto tempora provident cumque saepe eum
        quos quaerat ea consectetur doloremqu.</p>
      <form>
        <mat-form-field>
          <input type="text" matInput placeholder="Full Name">
        </mat-form-field>

        <mat-form-field>
          <input type="email" matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Query"></textarea>
        </mat-form-field>
        <button type="button" mat-flat-button class="myButton">SEND &nbsp; <mat-icon>near_me</mat-icon></button>
      </form>
    </div>
  </div>
  <div class="col-md-6 contact-details">
    <div class="details-contain">
      <h1><mat-icon>location_city</mat-icon></h1>
      <div class="address">
        <p>Lorem ipsum dolor sit amet</p>
        <p>Repellendus dolorem iure provident pariatur repellat error.</p>
        <p>Lorem ipsum dolor pariatur repellat error.</p>
      </div>
      <div class="contact">
        <p class="contact_name"><mat-icon>person </mat-icon> Full Name</p>
        <p class="contact_mobile"><mat-icon>phone</mat-icon> +91 - 9191919191</p>
        <p class="contact_email"><mat-icon>email</mat-icon> abc@example.com</p>
        <p class="contact_addr"><mat-icon>map</mat-icon> AB-1, 152</p>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-whatsapp-square"></i></a>
      </div>
    </div>
  </div>
</div>
