<nav [class]="sideNavClass">
  <div class="col-md-12 router">
    <a routerLink="/home" routerLinkActive="active-link" (click)="toggleNav()">Home</a>
  </div>
  <div class="col-md-12 router">
    <a routerLink="about" routerLinkActive="active-link" (click)="toggleNav()">About</a>
  </div>
  <div class="col-md-12 router">
    <a routerLink="projects" routerLinkActive="active-link" (click)="toggleNav()">Projects</a>
  </div>
  <div class="col-md-12 router">
    <a routerLink="events" routerLinkActive="active-link" (click)="toggleNav()">Events</a>
  </div>
  <div class="col-md-12 router">
    <a routerLink="publications" routerLinkActive="active-link" (click)="toggleNav()">Publications</a>
  </div>
  <div class="col-md-12 router">
    <a routerLink="contact" routerLinkActive="active-link" (click)="toggleNav()">Contact</a>
  </div>
</nav>
<main [class]="mainWrapClass">
  <mat-toolbar>
    <button mat-button class="menu-btn" (click)="toggleNav()">
      <mat-icon>{{ menuName }}</mat-icon>
    </button>
    <span class="logo">
      AIR Lab
    </span>
  </mat-toolbar>
  <div *ngIf="isNavOpened" class="main-overlay" (click)="toggleNav()"></div>
  <router-outlet></router-outlet>
  <div class="loader" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</main>
