<div class="row publication-main">
  <div class="col-md-2 filter-section">
    <div class="filter">
      <h3>Filter</h3>
      <form id="filter">
        <mat-checkbox>All</mat-checkbox>
        <mat-checkbox>Ongoing</mat-checkbox>
        <mat-checkbox>Published</mat-checkbox>
        <mat-checkbox>Most Popular</mat-checkbox>
      </form>
    </div>
  </div>
  <div class="col-md-10 publication-section">
    <h1>Publications</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12 pub-card-main-big">
          <img src="../../assets/images/content.png" alt="content-image">
          <div class="pub-content">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, quos quasi, aliquid quibusdam placeat rerum cupiditate exercitationem modi corporis ea vero dolorum labore, iure sapiente eligendi impedit soluta rem corrupti.</p>
            <p class="pub-footer">27/01/2020 04:05:56 PM <span><i class="far fa-eye"></i> 100</span></p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12 pub-card-main-small">
          <img src="../../assets/images/content.png" alt="content-image">
          <div class="pub-content">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h3>
            <p class="pub-footer">27/01/2020 04:05:56 PM <span><i class="far fa-eye"></i> 100</span></p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-12 pub-card-main-big">
          <div class="pub-content">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, quos quasi, aliquid quibusdam placeat rerum cupiditate exercitationem modi corporis ea vero dolorum labore, iure sapiente eligendi impedit soluta rem corrupti.</p>
            <p class="pub-footer">27/01/2020 04:05:56 PM <span><i class="far fa-eye"></i> 100</span></p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="col-md-12 pub-card-main-small">
          <img src="../../assets/images/content.png" alt="content-image">
          <div class="pub-content">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h3>
            <p class="pub-footer">27/01/2020 04:05:56 PM <span><i class="far fa-eye"></i> 100</span></p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="col-md-12 pub-card-main-big">
          <img src="../../assets/images/content.png" alt="content-image">
          <div class="pub-content">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, quos quasi, aliquid quibusdam placeat rerum cupiditate exercitationem modi corporis ea vero dolorum labore, iure sapiente eligendi impedit soluta rem corrupti.</p>
            <p class="pub-footer">27/01/2020 04:05:56 PM <span><i class="far fa-eye"></i> 300</span></p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>



      <div class="col-md-12">
        <div class="col-md-12 pub-card-main-big">
          <img src="../../assets/images/content.png" alt="content-image">
          <div class="pub-content">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, quos quasi, aliquid quibusdam placeat rerum cupiditate exercitationem modi corporis ea vero dolorum labore, iure sapiente eligendi impedit soluta rem corrupti.</p>
            <p class="pub-footer">27/01/2020 04:05:56 PM <span><i class="far fa-eye"></i> 100</span></p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>



      <div class="col-md-12">
        <div class="col-md-12 pub-card-main-big">
          <div class="pub-content">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, quos quasi, aliquid quibusdam placeat rerum cupiditate exercitationem modi corporis ea vero dolorum labore, iure sapiente eligendi impedit soluta rem corrupti.</p>
            <p class="pub-footer">27/01/2020 04:05:56 PM <span><i class="far fa-eye"></i> 100</span></p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
